.stockInfo {
    // background-color:orchid;
  .stockInfo_card {
    background-color: rgba(0, 0, 0, 0.24);
    max-width: 200px;
    padding: 8px 16px;
    border-right: 1px solid rgba(255, 255, 255, 0.449);
    // margin: 0 18px ;
  }

  .stockInfo_card-header {
    display: flex;
    gap: 48px;

    h3 {
      font-size: 10px;
      text-transform: uppercase;
      padding: 0;
      margin: 0;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
    }
  }

  .stockInfo_card-body {
    h3 {
      font-size: 16px;
      margin: 0;
      font-weight: 700;
    }
  }
}
