#whatWeDo {
    position: relative;
    background: url(../../assets/images/landing3.png) rgba($color: #000000, $alpha: 0.4);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 8em;

}