.assetManagement {
    @include headerFontStyle;

    padding-right: 20px;

    &_web {
        @media screen and (max-width:1023px) {
            display: none;

        }

    }

    &_cardImage {
        transition: all ease-in-out .3s;
        background-color: rgba(0, 0, 0, 0.3) !important;
        margin: 0.5em;

        &:hover {
            background-color: rgba(0, 0, 0, 0.6) !important;
            cursor: pointer;

            h3 {
                transform: scale(1);

            }
        }

        background-blend-mode: overlay;

        h3 {
            font-weight: 900;
            margin: 0;
            padding: 0;
            font-size: 1em;
            transform: scale(0.85);
            transition: all 0.3s;
        }
    }


    @media screen and (max-width:1023px) {
        display: none;

    }

    &_mobile {
        @media screen and (min-width:1023px) {
            display: none;
        }

        height: 100%;

        h1 {
            color: white;
        }

        &-container {
            padding: 2em;
            display: flex;
            flex-direction: column;
            overflow: scroll;
        }
    }
}