// .blogSlider {
.blogSlider_sss {
    display: grid;
    grid-template-columns: auto auto auto !important;
    grid-gap: 2px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    // margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  
  @media(max-width: 793px) {
    .blogSlider_sss {
      display: grid;
      grid-template-columns: auto auto !important;
      grid-gap: 2px;
      overflow-x: hidden;
      position: relative;
      border-radius: 15px;
      width: 100%;
    }
  }

@media (max-width: 500px ) {
    .blogSlider_sss {
        grid-template-columns: auto  !important;
    }
}

.blogSlider-link {
    color: #000;
}

.blogSlider-link:hover {
  color: #000;
  text-decoration: none;
}