// .blogSlider {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     padding: 5vw clamp(10px, 4vw, 5vw);
//     padding-top: 2em;
//     margin: 0 auto;
//     justify-content: center;
// }


.blogSlider_sss {
    display: grid;
    grid-template-columns: auto auto auto !important;
    grid-gap: 2px;
    overflow-x: hidden;
    position: relative;
    width: 100%;
    // margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  
  @media(max-width: 793px) {
    .blogSlider_sss {
      display: grid;
      grid-template-columns: auto auto !important;
      grid-gap: 2px;
      overflow-x: hidden;
      position: relative;
      border-radius: 15px;
      width: 100%;
    }
  }
  
//   @media(min-width: 651px) and (max-width: 766px) {
//     .blogSlider_sss {
//       grid-template-columns: auto auto auto !important;
//     }
//   }


@media (max-width: 500px ) {
    .blogSlider_sss {
        grid-template-columns: auto  !important;
    }
}