.boardOfDirectors {
    @include headerFontStyle;

    &_web {
        @media screen and (max-width:1023px) {
            display: none !important;

        }
    }


    &_card {
        align-self: center;

        p {
            line-height: 1.8;
        }
    }

    &_container {
        min-width: 90vw;
        min-height: 60vh;

    }

    &_image {
        padding: 0;
        background-repeat: no-repeat !important;
        background-size: contain;
        box-sizing: border-box;
        border-left: 15px solid transparent;
        background-position-y: center !important;
        // display: block;
        min-height: 300px;
    }

    ul {
        padding: 0;
        margin: 0 0 0 16px;

        li {
            cursor: pointer;
            list-style-type: none;
            color: rgb(213, 213, 213);
            position: relative;
            font-size: .825rem;

            &.active {
                &::before {
                    content: '\25B6';
                    position: absolute;
                    margin-right: 12px;
                    left: -18px;
                    font-size: 10px;
                    top: 2px;

                }
            }

            &:hover,
            &.active {
                color: white;
            }
        }
    }



    &_mobile {
        @media screen and (min-width:1023px) {
            display: none !important;


        }
    }
}