.customCard {
    padding: 1.5em;
    background-color: rgba($color: black, $alpha: .65);
    color: white;
    height: fit-content;


    h3 {
        font-size: 24px;
    }

    ul {
        list-style: none;
        margin-top: 2em;

        li {
            padding: .5rem 0;
        }
    }

    &_text-spacing {
        p {
            line-height: 2em;
        }
    }

}


.customCardCenter {
    padding: 1em;
    background-color: rgba($color: black, $alpha: .65);
    color: white;
    display: flex;
    align-items: center;


    h3 {
        font-size: 24px;
    }

    ul {
        list-style: none;
        margin-top: 2em;

        li {
            padding: .5rem 0;
        }
    }

    &_text-spacing {
        p {
            line-height: 2em;
        }
    }

}

.removeListStyle{
    ul{
        list-style-type: none;
        li{
            padding: .4em 0;
        }
    }
}