.career {
    // width: 100%;
    overflow-x: hidden;

    header {
        height: 100vh;
        min-height: vh(100);

    }

    &_strandedText {
        padding: clamp(3em, 8vw, 10vw) clamp(10px, 5vw, 8vw);
        text-align: center;
    }
}