.faq {

}
.faqContent {
    margin: 100px 50px;
    &__tab {
        &--active{
            background-color:#CDADAE;
        }
        ul {
            list-style-type: none;
            display: flex;
            width: 100%;
            justify-content: space-between;
            border-radius: 50px;
            overflow: hidden;
            border: 1px solid red;
            margin: 0 20px;
            padding: 0;

            li {
                cursor: pointer;
                color: white;
                display: inline-block;
                padding: 32px 20px;
                text-align: center;
                font-size:18px;
                font-weight:500;
                overflow:hidden;
                &:hover{
                    background-color:#CDADAE
                }

            }
        }
    }
    &__cards{
        margin: 40px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__form{
        h2{
            text-align: center;
        }
    }
}

.faqCard{
    display: inline-flex;
    border-radius: 14px;
    overflow: hidden;
    background-color: red;
    margin-bottom: 20px;
    width: 49%;
    &__icon{
        background-color: blue;
        min-width: 82px;
        max-width: 82px;
        border-radius: 14px;
        overflow: hidden;
    }
    &__body{
        margin: 0 12px;

        &--header{
            display: flex;
            justify-content:space-between;
            height: 72px;
            align-items:center;
            
            h2{
                margin: 0;
                color:white;

            }
        }
        &--content{
            color: white;
            margin: 0 36px 20px 0;
            display: none;
        }
    }
}

.faqContent__form h2 {
    text-align: center;
}

.contactUs__form {
    max-width: 700px !important;
    margin: 60px auto 120px auto;
  }
  .contactUs__form input,
  .contactUs__form textarea {
    border: 1px solid #BC2228 !important;
    font-family: "Poppins", sans-serif !important;
  }
  .contactUs__form::-moz-placeholder {
    color: rgba(188, 34, 40, 0.6) !important;
  }
  .contactUs__form:-ms-input-placeholder {
    color: rgba(188, 34, 40, 0.6) !important;
  }
  .contactUs__form::-ms-input-placeholder {
    color: rgba(188, 34, 40, 0.6) !important;
  }
  .contactUs__form::placeholder {
    color: rgba(188, 34, 40, 0.6) !important;
  }
  .contactUs__form button {
    border: 0;
    background-color: #BC2228;
    padding: 20px 200px;
    border-radius: 40px;
    color: white;
    font-family: "Poppins", sans-serif;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%);
  }


