.footerNav {
    display: inline-flex;
    justify-content: space-around;
    background-color: #992333;
    padding: 24px 1em 1em 1em;
    width: 100%;
    flex-wrap: wrap;


    @media screen and (max-width: 1023px) {
        flex-direction: column-reverse;
        margin: 0 auto;

        &_links {
            padding: 1.5em 0 1em 0;
        }
    }



    &_links {
        max-width: 400px;
        margin: auto;

        a {
            color: white;
            text-decoration: none;
        }
    }

    &_socialLinks {
        list-style-type: none;
        justify-content: center;
        align-self: flex-end;
        // margin-right: clamp(.5em, 4vw, 2.5em);
        display: inline-flex;
        padding: 0;
        // transform: scale(0.7);
        margin: auto;

        *:not(:last-child) {
            margin-right: 1.0em;

        }

    }

    &_copyright {
        p {
            margin: 3px 0 0 0;
            font-size: .995em;
            color: #fff;
            width: 100%;
            text-align: center;
        }
    }

    &_services {
        color: #ffff;
       ul {
           list-style: none;
           
       }
    }
}

.footerNav {
    font-size: .9rem;   
}

.footerNav .footer-title {
    font-size: 1.1rem;
    margin-bottom: 30px; 
    color: #fff;
}

.footerNav ul li {
    margin-bottom: 10px; 
}

.footerNav a {
    color: #fff; 
}

.footerNav a:hover {
    color: #fff; 
    text-decoration: none;
}

.footerNav_socialLinks li a img {
    color: #fff !important;
}