.home {
    // background-color: rgba(138, 125, 125, 0.129);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;


    &_landingPage {
        height: 100vh;
        min-height: vh(100);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
    }

}

.__mobileOnly {

    @media screen and (min-width:1023px) {
        display: none;
    }

    padding-top: 6em;

}


.WWA_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: 0.4);
    background-image: url(../assets/images/landing2.png);
    background-attachment: fixed;

}

.WWD_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: 0.4);
    background-image: url(../assets/images/landing3.png);
    background-attachment: fixed;
}

#who-we-are-mobile,
#what-we-do-mobile,
.wwa_modal {
    display: flex;
    flex-direction: column;

    header {
        h1 {
            color: white;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        span {
            margin: 6px;
            font-size: 10px;
            min-width: 156px;
            background-color: rgba($color: black, $alpha: .65);
            color: white;
            border-radius: 10px;
            padding: 6px 4px;
            text-align: center;
            cursor: pointer;

        }

        .navActive {
            border: 1px solid white;
        }
    }


}

.wwa_modal {
    position: absolute;
    min-height: vh(100);
    height: 100vh;
    background: green;
    top: 100vh;
    width: 100%;
    z-index: 2;
    display: none;

    &-opened {
        display: flex;

        header {

            h1 {
                width: 100%;
            }
        }

        flex-direction: column;

        div {
            margin-bottom: 1em;
        }
    }
}

.wwd_modal {
    background-image: url(../assets/images/landing3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: 0.4);
    top: 200vh;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;
    scroll-snap-align: 'start';

    &-opened {
        display: fled;
        flex-direction: column;

        div {
            margin-bottom: 1em;
        }
    }
}