.home {
    // background-color: rgba(138, 125, 125, 0.129);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    scroll-snap-align: start;
    // overflow: hidden;


    &_landingPage {
        height: 100vh;
        min-height: vh(100);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: relative;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 100%;
    }

}

.__mobileOnly {

    @media screen and (min-width:1023px) {
        display: none;
    }

    padding-top: 6em;

}


.WWA_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    // background-color: rgba($color: #000000, $alpha: 0.4);
    background-image: url(../assets/images/landing08.JPEG);
    background-attachment: fixed;

}

.WWD_container {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    // background-color: rgba($color: #000000, $alpha: 0.4);
    background-image: url(../assets/images/landing3.JPEG);
    background-attachment: fixed;
}

#who-we-are-mobile,
#what-we-do-mobile,
.wwa_modal {
    display: flex;
    flex-direction: column;

    header {


        h1 {
            color: white;
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            width: 90%;
            margin: 0 auto;
        }
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        span {
            margin: 6px;
            font-size: 10px;
            min-width: 156px;
            background-color: $primary-background-color;
            color: white;
            border-radius: 10px;
            padding: 6px 4px;
            text-align: center;
            cursor: pointer;

        }

        .navActive {
            border: 1px solid white;
        }
    }


}

.wwa_modal {
    background-image: url(../assets/images/landing08.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: fixed;
    margin-top: 66.19px;
    height: 100vh;
    min-height: -webkit-fill-available;
    // top: 100vh;
    width: 100%;
    z-index: 9999;
    display: none;
    padding-top: 2em;

    header {

        div {
            width: fit-content;
            display: inline-block;
            position: absolute;
        }
    }

    &-image {
        height: 11.2em;
        width: 11.2em;
        border-radius: 999px;
        margin: 0 auto;
        // background-position: 0 center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer {
        margin: 0 -20px;
    }

    &-opened {
        display: flex;



        flex-direction: column;

        div {
            margin-bottom: 1em;
        }
    }
}

.wwd_modal {
    background-image: url(../assets/images/landing3.JPEG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
    // background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 2;
    display: none;
    position: fixed;
    margin-top: 66.19px;
    min-height: -webkit-fill-available;
    z-index: 9999;
    padding-top: 2em;




    &-opened {
        display: fled;
        flex-direction: column;

        div {
            margin-bottom: 1em;
        }
    }

    footer {
        margin: 0 -20px;
    }
}