.managementTeam{
    @include headerFontStyle;
    &_card {
        align-self: center;
        p {
            line-height: 1.8;
        }
    }

    &_container {
        min-width: 90vw;
        min-height: 60vh;

    }

    &_image {
        background-repeat: no-repeat !important;
        background-size: cover;
        box-sizing: border-box;
        background-position: center !important;
        border-radius: 50%;
        width: 200px;
        height: 230px;
        margin: 0 auto;
        margin-bottom: 10px;
        position: relative;
        cursor: pointer;
    }

    ul {
        padding: 0;
        margin: 0 0 0 16px;

        li {
            cursor: pointer;
            list-style-type: none;
            color: rgb(213, 213, 213);
            position: relative;
            font-size: .825rem;

            &.active {
                &::before {
                    content: '\25B6';
                    position: absolute;
                    margin-right: 12px;
                    left: -18px;
                    font-size: 10px;
                    top: 2px;

                }
            }

            &:hover,
            &.active {
                color: white;
            }
        }
    }
}

img.mgtTeamImg {
    border-radius: 50%;
    width: 200px;
    height: 180px;
    // margin: 0 auto;
    margin-bottom: 10px;
    // position: relative;
    // cursor: pointer;

}