.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.5);
    padding: 1em clamp(2.5em, 6vw, 6.5em);
    background-color: rgba($color: black, $alpha: 0.02);
    transition: padding .3s;
    z-index: 1000;
    color: white;
    transition: background-color .3s .1s ease-in-out;
    padding: 0;
    padding-right: 3em;
    margin: 0;

    &_white {
        color: black;
        background-color: #fff;
        padding: .2em clamp(2.5em, 6vw, 6.5em);
    }

    @media screen and (max-width:1023px) {
        padding: 0 1.5em;
        padding-left: 0;
    }

    &_brand {
        background-color: #fff;
        padding: 1.2em 2.3em;

        @media screen and (max-width:1023px) {
            padding: .1em 1.5em;
        }

        img {
            transform: scale(0.8);
        }
    }

    &_ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;

        @media screen and (max-width:1023px) {
            display: none;
        }

        &-li {
            display: inline-block;

            a {
                padding: .825em 1em;
                transition: all ease-in-out 0.2s;
                position: relative;
                top: 0;
                text-transform: uppercase;
                font-weight: 500;
                font-size: clamp(0.875em, 1vw, 1.125em);
                color: inherit;
                cursor: pointer;

                &:hover {
                    text-decoration: none;
                    position: relative;
                    top: -5px;
                    padding-bottom: 20px;
                }

                &:active {
                    text-decoration: none;
                    position: relative;
                    top: -3px;
                    font-weight: 700;
                }
                &.active {
                    border-bottom: 1.5px solid white;
                }
               
            }
        }

    }


    // -----------------Nested nav link
    &_nested {
        &_parent {
            position: relative;

            &-container>a {
                padding: 20px;
            }

            &-container:hover>.navbar_nested_ul {
                display: flex;
                left: 0;
                top: 1em;

                li {
                    padding: 20px 10px;
                }
            }
        }

        &_ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: none;
            position: absolute;
            top: 44px;

            li {
                padding: 30px;

                a {
                    font-size: 0.9em;
                }
               
            }
        }
    }

    // ---------Hamburger Icon style 
    &_mobile {
        &-hamburgerMenu {
            flex: 1;
            display: none;
            align-items: center;
            justify-content: flex-end;

            @media screen and (max-width:1023px) {
                display: flex;
            }

            &-icon {
                width: 2.5rem;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                div {
                    width: 1.6rem;
                    height: 3px;
                    border-radius: 3px;
                    background-color: #fff;
                    position: relative;
                    z-index: 1001;
                    transition: .5s;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        width: inherit;
                        height: inherit;
                        background-color: #fff;
                        border-radius: 3px;
                        transition: .5s;
                    }

                    &::before {
                        transform: translateY(-7px);
                    }

                    &::after {
                        transform: translateY(7px);
                    }
                }

                &-close {
                    div {
                        background-color: transparent;

                        &::before {
                            transform: translateY(0) rotate(-45deg);
                            background-color: black;
                        }

                        &::after {
                            transform: translateY(0) rotate(45deg);
                            background-color: black;

                        }
                    }
                }
            }
        }
    }

    // -----------Mobile Style 
    @media screen and (max-width: 1023px) {
        &_brand {
            img {
                transform: scale(0.7);
            }
        }
    }


    &_mcontainer {
        position: fixed;
        top: -100vh;
        background-color: #fff;
        // display: none;
        width: 100%;
        // height: calc(100vh - 20em);
        z-index: 99;
        border-radius: 0 0 4em 4em;
        transition: all .3s;
        transition-timing-function: ease-in-out;
        padding-top: 4.5em;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 12px;
        overflow: auto;

        &-opened {
            top: 0;
        }

        &-navItem {
            padding: 12px 0;
            list-style: none;
            text-align: center;

            &:focus,
            :active,
            :hover,
            :visited {
                text-decoration: none;
            }

            a {
                color: inherit;
                font-weight: 500;

            }

            &-down {
                a {
                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            &-subnavOpen {
                max-height: 500px;
                transition: all ease-in-out .3s;
                opacity: 1;
                transition-delay: .4s;

            }

            &-subnavClosed {
                max-height: 0px;
                overflow: hidden;
                opacity: 0;
                transition: all ease-in-out .3s;

            }
        }
    }


}



.navbar_onScroll {

    color: white;
    background-color: $primary-color;
    border-bottom: 0px solid rgba($color: white, $alpha: 0.5);


    .navbar_mobile {
        &-hamburgerMenu {
            &-icon {
                &-close {
                    div {
                        background-color: transparent;

                        &::before {
                            transform: translateY(0) rotate(-45deg);
                            background-color: white;
                        }

                        &::after {
                            transform: translateY(0) rotate(45deg);
                            background-color: white;

                        }
                    }
                }

                &-close {
                    div {
                        background-color: transparent;

                    }
                }
            }
        }

    }
}