.research{
    // height: 32px;
    // overflow: hidden;
    header{
        height: 100vh;
        min-height: vh(100);

    }

    &_headerSlider{
        background-blend-mode: overlay;
        background-color: rgba(0, 0, 0, 0.209);
    }
}