#who-we-are {
     position: relative;
     background: url(../assets/images/landing2.png) rgba($color: #000000, $alpha: 0.4);
     background-blend-mode: overlay;
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 8em;
     height: 100vh;
     scroll-snap-align: start;

     @media screen and (max-width:1023px) {
          display: none;
     }

}